
.body{
max-width:  20px;
}
.dp{
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 10px #5f8670;
}
.dp:hover {
    max-zoom:10%;
}
.card{
    width: 400px;
    border: 10px solid #FF9800;
    margin: 0 auto; /*first property vertical margins second horizontal margins*/
    /*margin-left: auto;
    margin-right: auto;*/
    font-family: serif;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #ffffff;
    background-color:#820300;
    border-bottom: 10px solid #5F8670;
    border-top: 10px solid #5F8670;
    border-radius: 10px;

 
}
.details{
    margin: auto 0;
    background-color: #5F8670;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 5px 5px 5px #820300;
    box-shadow: 2px 2px 5px 10px #FF9800;
}